[submodule "audiobook_generator/engines/dramabox"]
	path = audiobook_generator/engines/dramabox
	url = https://github.com/resemble-ai/Dramabox.git
[submodule "audiobook_generator/engines/echo_tts"]
	path = audiobook_generator/engines/echo_tts
	url = https://github.com/jordandare/echo-tts.git
[submodule "engines/dramabox/DramaBox"]
	path = engines/dramabox/DramaBox
	url = https://github.com/resemble-ai/DramaBox.git
[submodule "engines/zonos2/ZONOS2"]
	path = engines/zonos2/ZONOS2
	url = https://github.com/Zyphra/ZONOS2.git
[submodule "engines/omni/OmniVoice"]
	path = engines/omni/OmniVoice
	url = https://github.com/k2-fsa/OmniVoice.git
[submodule "engines/breeze/breeze-tts"]
	path = engines/breeze/breeze-tts
	url = https://github.com/breezeblue-ai/breeze-tts.git
